@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

button{
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100%;
  background-color:#00122D;
}

h1{
  font-weight: 500;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.close-button{
  float: right;
  padding: 15px;
}

#root{
  height: 100%;
}

.App{
  height: 100%;
}

.Home{
  height: 100%;
}

.content{
  height: 100vh;
}

.text-content{
  position: absolute;
  top: 50%;
  left: 50%;
}

.HeroSection{
  background: linear-gradient( rgba(31,102,154,1), rgba(0,18,45));
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Spacer{
  height: 10px;
}

@keyframes fadeIn {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(308deg, rgba(10,25,47) 0%, rgba(31,102,154,1) 100%);
  z-index: 1;
  opacity: 1;
  animation: fadeIn 7s;
  animation-fill-mode: both;
}

#header-intro{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#header-intro p{
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 3px 1px 2px black;
}

#header-intro h1{
  font-size: 60px;
  color: #64FFDA;
  font-style: italic;
  font-weight: bold;
}

.aboutMe{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.custom-bg{
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.aboutMe h1{
  font-size: 28px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.aboutMe p{
  font-size: 20px;
  padding: 3px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

#profile-image{
  border-width: .5px;
  box-shadow: 1px 1px 6px 1px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url("./assets/Images/Me.jpg");
  background-position: center;
  background-size: cover;
}

.ParallaxSection{
  margin-top: 50px;
  height: 200px;
}

.resume-container{
  display: flex;
  color: white;
  justify-content: center;
}

.resume-container h3{
  color: #64FFDA;
}

.ContactForm{
  padding: 20px;
  margin-top: 40px;
  color: white;
}

.ContactForm button{
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #C5C5C5;
  background-color: #171717;
  color: white;
  border: 0px solid;
}

.ContactForm textarea{
  width: 96%;
  height: 150px;
  background-color: #171717;
  border-color: #C5C5C5;
  border-radius: 5px;
  color: white;
  border: 0px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 6px;
}

.ContactForm h2{
  text-align: center;
  margin-bottom: 10px;
}

.ContactForm p{
  text-align: center;
  margin-bottom: 20px;
}

.ContactForm input{
  background-color: #171717;
  border-color: #C5C5C5;
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  border: 0px solid;
}

.name-inputs{
  display: flex;
  flex-direction: column;
}

.ProjectSection{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #0E223F;
  padding: 10px 5px;
  margin-top: 60px;
  border-radius: 5px;
}

.ProjectSection h1{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#project-section-header{
  margin-bottom: 50px;
}

.Project{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Project h1{
  margin-top: 20px;
}

.Project img{
  margin-bottom: 25px;
}

.Project p{
  padding: 10px;
  text-align: center;
}

.Project img{
  width: 177px;
  height: 355px;
}

.Project-Button{
  font-size: 18px;
  padding: 10px 50px;
  font-weight: 300;
  border: solid;
  border-color: rgb(100,255,218);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(100,255,218);
  border-radius: 5px;
  margin-top: 30px;
}

@keyframes twinkle{
  50%{opacity: .2;}
  100%{opacity: 1;}
}

.circles{
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.arrow{
  position: absolute;
  bottom: 50px;
  border-right: solid;
  border-bottom: solid;
  border-width: 10px;
  color: white;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  -webkit-animation: twinkle;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  opacity: 1;
}

.MySkills{
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MySkills h1{
  margin-bottom: 30px;
}

.Skills{
  display: grid;
  grid-template-areas: "auto auto auto";
}

.SkillTile{
  margin: 10px;
}

.SkillTile p{
  font-size: 15px;
  text-align: center;
}

.SkillTile img{
  height: 60px;
  width: 60px;
}

.Experience{
  color: white;
  margin-top: 50px;
}

#experience-header{
  background-color: rgb(23, 50, 90, .8);
  width: 200px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  margin-bottom: 60px;
}

#experience-header h1{
  padding-left: 50px;
}

.HireMe{
  color: white;
  padding: 40px;
  margin-top: 40px
}

.HireMe img{
  margin-right: 20px;
}

.HireMe h3{
  text-align: center;
  margin-bottom: 30px;
}

.HireMe p{
  font-weight: 300;
}

.Reasons{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.Footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00122D;
}

.Footer p{
  color: #BFBFBF;
  font-size: 13px;
  padding-bottom: 20px;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons{
  background: rgb(78, 78, 78);
  height: 60px;
  width: 60px;
  margin: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

/************************** Project Page ***************************/
/* Menu Open Animation */

/* Open */

@-webkit-keyframes Open { /* Chrome, Safari */
  0%{visibility: visible;}
  100%{height: 100%; width: 100%; top: 0; left: 0; visibility: visible;}
}
@-moz-keyframes Open { /* FF */
  0%{visibility: visible;}
  100%{height: 100%; width: 100%; top: 0; left: 0; visibility: visible;}
}
@-ms-keyframes Open { /* IE10 */
  0%{visibility: visible;}
  100%{height: 100%; width: 100%; top: 0; left: 0; visibility: visible;}
}
@-o-keyframes Open { /* Opera */
  0%{visibility: visible;}
  100%{height: 100%; width: 100%; top: 0; left: 0; visibility: visible;}
}
@keyframes OpenMenu {
  0%{visibility: visible;}
  100%{height: 100%; width: 100%; top: 0; left: 0; visibility: visible;}
}

/* Close */
@keyframes CloseMenu {
  0%{height: 100%; width: 100%; top: 0%; left: 0%; visibility: visible}
  99.9%{height: 0%; width: 0%; top: 50%; left: 50%;}
  100%{visibility: hidden;}
}

.ProjectPage{
  position: fixed;
  height: 0%;
  width: 0%;
  top: 50%;
  left: 50%;
  border: solid;
  background-color: rgb(23,23,23);
  visibility: hidden;
  z-index: 20;
  overflow: scroll;
}

.ProjectPage h1{
  margin-bottom: 0px;
  margin-top: 20px;
}



.project-page-enabled{
  -webkit-animation: OpenMenu 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: OpenMenu 2s; /* Firefox < 16 */
     -ms-animation: OpenMenu 2s; /* Internet Explorer */
      -o-animation: OpenMenu 2s; /* Opera < 12.1 */
         animation: OpenMenu 2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: OpenMenu;
  transition: 5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.project-page-disabled{
  -webkit-animation: CloseMenu 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: CloseMenu 2s; /* Firefox < 16 */
     -ms-animation: CloseMenu 2s; /* Internet Explorer */
      -o-animation: CloseMenu 2s; /* Opera < 12.1 */
         animation: CloseMenu 2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: CloseMenu;
  transition: 5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.stop-scrolling{
  height: 100%;
  overflow: hidden;
}

.skill-badge-container{
  padding: 10px;
  display: grid;
  grid-template-areas: "auto auto auto";
  align-items: center;
  justify-content: center;
}

.SkillBadge p{
  background-color: rgb(81, 197, 169, .75);
  color: white;
  width: fit-content;
  padding: 5px 20px;
  margin: 10px 6px;
  border-radius: 10px;
  font-weight: 500;
}


/************************** Experience Graph ***********************/
.gc{
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.graph-circle-current{
  color: white;
  border: solid;
  border-width: thin;
}

.graph-circle{
  background-color: white;
}

#experience-graph{
  margin-left: 20px;
}

#graph-dots{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.dot{
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

#experience-graph-container{
  display: flex;
  flex-direction: row;
}

.info{
  margin-bottom: 18px;
}

#experience-info{
  margin-left: 20px;
}

#experience-info h2{
  color: #64FFDA;
  font-size: 18px;
}

#experience-info p:last-child{
  font-weight: 100;
}

.ViewResume{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ViewResume h3{
  text-align: center;
  margin-bottom: 20px;
}

.ViewResume a{
  border: solid;
  border-width: thin;
  color: white;
  padding: 8px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(180, 180, 180, .4);
}

/* Circle Styles */
@keyframes circleMove1 {
  0%{margin-left: 5px;}
  25%{margin-left: 15px;}
  50%{margin-top: 15px;}
  75%{margin-left: 0px;}
  100%{margin-left: 5px;}
}

@keyframes circleMove1 {
  0%{margin-left: 5px;}
  25%{margin-left: 15px;}
  50%{margin-top: 15px;}
  75%{margin-left: 0px;}
  100%{margin-left: 5px;}
}

@keyframes circleMove2 {
  0%{margin-right: 5px;}
  25%{margin-right: 15px;}
  50%{margin-top: 15px;}
  75%{margin-right: 0px;}
  100%{margin-right: 5px;}
}

@keyframes circleMove3 {
  0%{margin-right: 0px; margin-top: 0px;}
  25%{margin-top: 15px;}
  50%{margin-right: 15px;}
  75%{margin-top: 5px;}
  80%{margin-right: 5px;}
}

.Circle{
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 4s, 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: circleMove1;
  transition: 5s;
}

#circ8{
  visibility: hidden;
}

/* Mobile Circle Styles / Sizes */
@media all and (min-width: 575px) {
  .Circle{
    transition: 5s;
    margin: 10px;
    padding: 20px;
  }
}

@media all and (min-width: 700px) {
  .Circle{
    padding: 40px;
    margin: 10px;
  }

  #circ8{
    visibility: visible;
  }
}

/********************* MOBILE VIEWS **************************/

@media all and (min-width: 360px) {
  .aboutMe h1{
    font-size: 40px;
  }

  .aboutMe p{
    font-size: 20px;
  }

  .SkillTile img{
    height: 80px;
    width: 80px;
  }

  #experience-header{
    width: 280px;
    padding-left: 60px;
  }

  .HireMe h3{
    font-size: 24px;
  }

  .HireMe p{
    font-size: 18px
  }

  .ViewResume h3{
    font-size: 24px;
  }

  #experience-info h2{
    color: #64FFDA;
    margin-bottom: 6px;
    font-size: 1.5em;
  }

  .info{
    margin-bottom: 0px;
  }

  .ContactForm input{
    padding: 15px 10px
  }
}


/********************* TABLET VIEWS **************************/

